@{
    ViewData["Title"] = "Tiendas";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Tiendas" asp-asp-controller="Tiendas">
    <head>
<style>
    body{
        background-color: #58ACFA;
        margin: 0 auto;
    }   
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>
</style>
</head>
<body>
<div class="image-grid">
        <img id = "fotoHEB" src="~/logos/HEB.jpeg" alt="HEB">
        <img id = "fotoSoriana" src="~/logos/Soriana.jpeg" alt="Soriana">
        <img id = "fotoWalmart" src="~/logos/Walmart.jpeg" alt="Walmart">
        </div>
        </body>
</form>